/*The commented out block below was used for debugging the layout's paddings and margins*/
/** {
	border-width: 1px;
	border-style: solid;
	border-color: red;
}*/

body {
	background: url(../images/the-matrix.jpg) center center no-repeat fixed #464646;

    /*This is what makes the background image rescale based on the container's size
    Use vendor prefixes to support different browsers*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #ffffff;
}

.game-statistics {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	border-radius: 15px;
}

#game-instructions {
	text-decoration: underline;
}

#game-feedback {
	background-color: #000000;
}
/** Footer Info **/
footer{
    font-family: 'Georgia', Times, Times New Roman, serif;
    clear:both;
    width:100%;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    border-top: 4px solid #4aaaa5;
    position: fixed;
    bottom: 0;
}
/** End of Footer info **/